doctype html
html
  head
    title short.elmnts.co

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/animations.css')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/chartist.min.css')
    script(src='/javascripts/chartist.min.js')

  body
