include header

.homeContainer
  h3 URL Shortener
  .input-group.inputBox
    input.form-control.urlInput(type='text', placeholder='http://')
    span.input-group-btn
      button.btn.btn-success.shortenButton(type='button') Shorten

  .input-group.inputBox.newUrlPopup.slideDown
    input.form-control.urlInput(type='text', value='http://short.elmnts.co/1zxpf4m')
    span.input-group-btn
      button.btn.btn-warning.shortenButton(type='button')
        i.fa.fa-scissors
    span.input-group-btn
      button.btn.btn-info.shortenButton(type='button')
        i.fa.fa-bar-chart
