mixin navbar(navElements, active)
  .row
    .col-md-3
      .navTitle short.elmnts.co
    each name in navElements
      .col-md-1
        if(name==active)
          .navElement
            a.active(href="/#{name}")= name
        else
          .navElement
            a(href="/#{name}")= name

mixin pills(pillElements, active, url)
  .nav.nav-pills.nav-stacked
    each element in pillElements
      if(element.name==active)
        li.active
          a(href="#{element.url}")
            i.fa.pillIcon(class='fa-#{element.icon}')
            | &nbsp;&nbsp; #{element.name}

      else
        li
          a(href="#{element.url}")
            i.fa.pillIcon(class='fa-#{element.icon}')
            | &nbsp;&nbsp; #{element.name}
