include header
include navbar

script(type='text/javascript', src='/javascripts/clientDashboard.js')

.statsContainer
  +navbar(navElements, 'Statistics')
  br
  .row
    .col-md-3
      +pills(pillElements, 'Dashboard', url)
    .col-md-9
      legend URL ID #1zxpf4m
      .row
        .col-md-3
          .statContainer#allTime
            p.titleLabel Total Views
            p.dataLabel 27,451
              span.label &nbsp;(
              span.label.green +891
              span.label )
            .ct-chart.ct-perfect-fourth#allTimeGraph
        .col-md-3
          .statContainer#monthly
            p.titleLabel This Month
            p.dataLabel 12,329
              span.label &nbsp;(
              span.label.green +246
              span.label )
            .ct-chart.ct-perfect-fourth#monthlyGraph
        .col-md-3
          .statContainer#daily
            p.titleLabel Last Day
            p.dataLabel 490
              span.label &nbsp;(
              span.label.green +32
              span.label )
            .ct-chart.ct-perfect-fourth#dailyGraph
        .col-md-3
          .statContainer#hourly
            p.titleLabel Last Hour
            p.dataLabel 34
              span.label &nbsp;(
              span.label.green +8
              span.label )
            .ct-chart.ct-perfect-fourth#hourlyGraph
