include header
include navbar

script(type='text/javascript', src='/javascripts/clientViews.js')

.statsContainer
  +navbar(navElements, 'Statistics')
  br
  .row
    .col-md-3
      +pills(pillElements, 'Views')
    .col-md-9
      legend URL ID #1zxpf4m
      #viewsGraph
