/**body {
  background-image: url('../images/bg.jpg');
}**/
.homeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  margin-top: -75px;
  margin-left: -250px;
  padding: 10px;
}
.statsContainer {
  position: absolute;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  padding: 10px;
}
.fullPage {
  height:100%;
}
.urlInput {
  box-shadow: none;
  padding-left: 5px !important;
}
.inputBox {
  outline: 2px solid #CACACA;
  background-color: white;
}
.shortenButton {
  border-radius: 0px;
  height: 37px;
}
.newUrlPopup {
  width:400px;
  margin-left:50px;
  margin-top:15px;
  visibility: hidden;
}
.navTitle {
  font-size:20px;
}
.navElement {
  font-size: 15px;
  margin-top: 6px;
}
.navElement > a {
  display:block;
  color: #666666;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
.navElement:hover > a {
  display:block;
  color: #02A2FF;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
a.active {
  display:block;
  color: #02A2FF;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
.pillIcon {
  margin-top:5px;
}
 .active .pillIcon {
  color:white;
}
.statContainer {
  border-radius: 3px;
}
#allTime {
  background-color: #2196F3;
}
#monthly {
  background-color: #27ae60;
}
#daily {
  background-color: #E48828;
}
#hourly {
  background-color: #c0392b;
}
.statContainer .ct-series .ct-line {
  stroke: white !important;
}
.statContainer .ct-series .ct-area {
  fill: #FFFFFF !important;
}
.statContainer .titleLabel {
  color:white;
  font-size:16px;
  font-weight:300;
  margin:0;
  padding-left:5px;
  padding-top:5px;
}
.statContainer .label {
  color:white;
  font-size:16px;
  font-weight:300;
  margin:0;
  padding:2px;
}
.statContainer .dataLabel {
  color:white;
  font-size:16px;
  font-weight:600;
  margin:0;
  padding-left:5px;
}
.statContainer .dataLabel .green {
  color:#73FF3A;
  font-weight:700;
}

.statContainer .dataLabel .red {
  color:#FF7C7C;
  font-weight:700;
}
